pnm/artifacts/decoder_int8.onnx filter=lfs diff=lfs merge=lfs -text
pnm/artifacts/encoder_int8.onnx filter=lfs diff=lfs merge=lfs -text
pnm/artifacts/mel_filters_80.bin filter=lfs diff=lfs merge=lfs -text
pnm/artifacts/sample_practice.parquet filter=lfs diff=lfs merge=lfs -text
